* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box-container {
  padding-bottom: 10rem;
}
body {
  height: 100vh;
  padding: 5rem;
  background-color: #271F30;
}
.box {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.boxItem{
  width: 0.5rem;
  height: 0.5rem;
  background: #fff;
  padding: 1.5rem;
  list-style: none;
  margin:0.2rem;
}
button{
  background-color: #353535;
  color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 20px 40px;
  padding: 10px 40px;
  text-transform: uppercase;
  cursor: pointer;
}
